<%= form_with model: [@question, @answer], local: true do |f| %>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content, rows: 7, cols: 60 %>
  </div>

  <div class="field">
    <%= f.label :correct %>
    <%= f.check_box :correct %>
  </div>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>