<h1>New Answer</h1>

<%= render 'shared/errors', object: @answer %>

<%= form_with model: [@question, @answer], local: true do |f| %>
  <div>
    <%= f.label :content %>
    <%= f.text_area :content, rows: 3, cols: 60 %>
  </div>

  <div>
    <%= f.label :correct %>
    <%= f.check_box :correct %>
  </div>

  <div>
    <%= f.submit "Submit" %>
  </div>
<% end %>

<%= link_to 'Back', @question.test %>