<h1><%= t('.title', title: @test.title) %></h1>

<p>
  <%= link_to t('.edit_title'), edit_admin_test_path(@test) %> |
  <%= link_to t('.back'), admin_tests_path %>
</p>

<h2><%= t('.questions') %></h2>

<% if @test.questions.any? %>
  <ul>
    <%= render partial: 'questions/question', collection: @test.questions %>
  </ul>
<% else %>
  <p><%= t('.no_questions') %></p>
<% end %>

<%= link_to t('.add_question'), new_test_question_path(@test) %> |
<%= link_to t('.edit_title'), edit_admin_test_path(@test) %> |
<%= link_to t('.back'), admin_tests_path %>
