<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <div class="container">
    <%= link_to t('admin.nav.title'), root_path, class: 'navbar-brand' %>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to t('shared.nav.tests'), tests_path, class: 'nav-link' %>
        </li>
      </ul>
      
      <div class="navbar-nav ms-auto">
        <% if user_signed_in? %>
          <span class="nav-item nav-link"><%= t('admin.nav.welcome') %>, <b><%= current_user.email %></b></span>
          
          <% if current_user.is_a?(Admin) %>
            <%= link_to admin_tests_path, class: 'nav-link', title: t('shared.nav.admin_panel') do %>
              <i class="bi bi-gear-fill"></i>
            <% end %>
          <% end %>
          
          <%= button_to t('shared.nav.logout'), destroy_user_session_path, method: :delete, class: 'btn btn-outline-danger btn-sm ms-2' %>
        <% else %>
          <%= link_to t('shared.nav.signup'), new_user_registration_path, class: 'btn btn-outline-primary btn-sm me-2' %>
          <%= link_to t('shared.nav.login'), new_user_session_path, class: 'btn btn-outline-success btn-sm' %>
        <% end %>
      </div>
    </div>
  </div>
</nav>