<!DOCTYPE html>
<html>
  <head>
    <title>Admin Panel | Test GURU</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render 'admin/nav' %>
    <%= render 'shared/flash' %>
    <%= yield %>
  </body>
</html>
